* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  width: 100%;
  height: var(--navbar-height);
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  transition: 0.3s ease;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
}

.navlinks {
  display: flex;
  list-style: none;
  font-size: 25px;
  justify-content: space-evenly;
  gap: 50px;
  align-items: center;
}

.navlinks li {
  text-decoration: none;
  font-weight: 550;
  display: inline-block;
  color: white;
  position: relative;
  margin: 50px;
  transition: 0.3s ease;
}

.navlinks a {
  text-decoration: none;

  color: white;
}

body.dark-mode .navbar {
  background: rgba(60, 30, 80, 0.95);
}
